<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <title>Message Board</title>
    </head>
    <body>
        <div class="container">
            <div class="row">


                <div class="col-md-12">

                    hey

                </div>
            </div>
        </div>
    </body>
</html>
