<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <form id='register' action='sign_up' method='post'>
        <fieldset >
        <legend>Sign Up</legend><br>
        <input type='hidden' name='submitted' id='submitted' value='1'/>

        <label for='username' >User Name:</label>
        <input type='text' name='username' id='username', minlength = 6, maxlength="50", placeholder = "at least 6 characters" /><br><br>

        <label for='password' >Password:</label>
        <input type='password' name='password' id='password', minlength = 6, nmaxlength="50", placeholder= "at least 8 characters"/><br><br>
        <input type='submit' name='Submit' value='Submit' />




        </form>
        <p>
        <form action="/" method='get'>
            <button>Go back home</button>
        </form>
    </p>
        </fieldset>
    </body>
</html>
