<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

  <title>Message Board</title>
</head>
<body>

  <header><h1><span class="glyphicon glyphicon-send"></span>MessageBoard</h1></header>

  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-4">
        <h2>Sign Up</h2>

        <br>

        <form action='/sign_up' method='post'>
          <div class="form-group">
            <label for='username'>New Username:</label>
            <input type='text' name='username' id='username' minlength="6" maxlength="50" placeholder = "at least 6 characters">
            <span class = "text-danger">
              {{ error }}
            </span>
          </div>

          <div class="form-group">
            <label for='password'>New Password:</label>
            <input type='password' name='password' id='password' minlength="6" maxlength="50" placeholder= "at least 6 characters">
          </div>

          <button class="btn btn-success" type="submit">Register</button>
        </form>

        <br>

        <a class="btn btn-default" href="/">Return to Login</a>

      </div>
    </div>
  </div>
</body>
</html>
