body {
	background-color: GhostWhite;
}

header {
	padding: 20px;
	background-color: #333;
	text-align: center;
	color: white;
	/*text-shadow: -1px 1px 0 rgba(140,140,140,0.6) , 0px -1px 1px rgba(0,0,0,0.67);*/
	background-image: url(http://www.transparenttextures.com/patterns/gplay.png);
	margin-bottom: 20px;
}

h1 {
	font-size: 3.5em;
	font-weight: bold;
}


/*
*	MESSAGES.HTML.TWIG
*/
	.post h3 {
		/*text-align: right;
		background-color: rgb(153, 255, 235);
		color: white;
		padding-right: 40px;
		text-shadow: -1px 1px 0 rgba(140,140,140,0.6) , 0px -1px 1px rgba(0,0,0,0.67);*/

	}

	.post form {
		padding: 0 10px 0 10px;
	}

	.btn_add_message {
		float: right;
		margin: 25px 40px 10px 10px;
	}

.btn_view_posts {
	margin: 20px 0 0 0px;
	display: inline-block;
	float: left;
}

.label_message {
	margin-top: 15px;
}

#tag_name {
	font-style: italic;
	margin-top: 43px;
}

#date {
	float: right;
	display: inline-block;
	margin-right: 15%;
}


#textarea_post {
	border: 3px double #CCCCCC;
}

#users_name {
	color: rgb(255, 153, 51);
	float: left;
	display: inline-block;
	margin-right: 15px;
	width: 14%;
}

.textarea {
	width: 70%;
}

a.button {
	text-align: center;
	display: block;
	margin-top: 50px;
}

.btn-view-all {
	margin: 6px 0 0 15px;

}

/********************************************  TAG_MESSAGES.HTML.TWIG  *******************************************************/


.tag_name {
	text-align: center;
	background-color: rgb(148, 219, 255);
	color: white;
	margin: 0px 0px 17px 0;
	text-shadow: -1px 1px 0 rgba(140,140,140,0.6) , 0px -1px 1px rgba(0,0,0,0.67);
	font-size: 30px;
}

p.tag_user_name {
	color: rgb(255, 153, 51);
	float: left;
	display: inline-block;
	margin-right: 15px;
	font-size: 30px;

	}

.tag_date {
	margin-top: 33px;

}

.tag_textarea {
	width: 100%;
	margin-top: -5px;
}

.glyphicon {
	padding: 8px;

}

h3.hello {
	margin: 25px 0 5px 0;

}

ol {
	list-style: none;
	height: 35px;
}


/* Special edit ********************( check inherited css by class name )***************************/

.content_edit {
	padding: 0 10px 0 20px;

}

.message_edit {
	margin: 25px 0 25px 0;
	font-size: 23px;
}

.message_edit em {
	font-size: 18px;
}

.textarea_edit {
	width: 80%;
}

.btn_edit_message {
	float: right;
	margin: 0 40px 8px 10px;
}

.btn_edit_home {
	float: right;
	margin: -47px 58px 0 0;
}

.edit_btn {
	margin-top: -5%;
	margin-left: 5%;

}
